block content        
    nav.navbar.navbar-dark.bg-dark(style="height:10%")
        div.container-fluid
          a.navbar-brand(href="/")
            img(src="../images/Logo.png" class="img" alt="" width="9%" class="d-inline-block align-text-top")
