block content        
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            h5.w-75.text-light  #{title}
            #navbarSupportedContent.collapse.navbar-collapse
              form.d-flex
                input.form-control.me-2.w-100(type='search', placeholder='Buscar', aria-label='Search')
                button.btn(type='submit')
                  i.icon.ion-md-search.lead.text-light