block content    
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            h5.w-75.text-light  #{title}
            script(src='/services/search.js')
            #navbarSupportedContent.collapse.navbar-collapse
                form.d-flex( role='form' onsubmit='return false;')
                  input#search-navbar.form-control.me-2.w-100(type='search', placeholder='Buscar', aria-label='Search')
                  button#boton.btn(type='submit', value='Submit' onclick='buscar()')
                      i.icon.ion-md-search.lead.text-light