block content    
    
        .sidebar.col-auto.col-md-3.col-xl-2.px-sm-2.px-0
          .d-flex.flex-column.align-items-center.align-items-sm-start.px-3.pt-2.text-white.min-vh-100
            a.d-flex.align-items-center.pb-5(href='/')
              img.form-title.img-responsive.w-100(src='../images/Logo.png')
            ul#menu.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start
              li.nav-item
                a.nav-link.align-middle.px-0.d-block.text-light.p-3(href='/')
                  i.icon.ion-md-home.lead.mr-2
                  span.ms-1.d-none.d-sm-inline Principal
              li
                a.nav-link.px-0.align-middle.d-block.text-light.p-3(href='/leccion/')
                  i.icon.ion-md-bookmarks.mr-2.lead
                  span.ms-1.d-none.d-sm-inline Lecciones
              li
                a.nav-link.px-0.align-middle.d-block.text-light.p-3(href='/evaluacion/')
                  i.icon.ion-md-today.lead.mr-2
                  span.ms-1.d-none.d-sm-inline Evaluaciones
              li
                a.nav-link.px-0.align-middle.d-block.text-light.p-3(href='#')
                  i.icon.ion-md-stats.lead.mr-2
                  span.ms-1.d-none.d-sm-inline Estad&iacute;sticas
            hr
            .dropdown.pb-4
              a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle(href='/logout', data-bs-toggle='dropdown', aria-expanded='false')
                img.rounded-circle(src='https://fortmyersradon.com/wp-content/uploads/2019/12/dummy-user-img-1.png', alt='hugenerd', width='30', height='30')
                span.d-none.d-sm-inline.mx-1 User
              ul.dropdown-menu.dropdown-menu-dark.text-small.shadow(aria-labelledby='dropdownUser1')
                li
                  a.dropdown-item(href='login') Sign out