extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      // Navbar
      .navp.col.py-0
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            h5.w-75.text-light  Categor&iacute;a: Abecedario
            #navbarSupportedContent.collapse.navbar-collapse
              form.d-flex
        // atras/adelante
        //- .section-navigation.mdl-bottom
        //-   span.mdl-left
        //-     a(href='categoriaABC')
        //-       span.larrow
        //-         ion-icon(name='caret-back-outline')
        //-       |                             Atr&aacute;s
        //-   span.close
        //-     a(href='')
        //-       span.xclose
        //-         ion-icon.iclose(name='close-circle-outline')
        //-   span.mdl-right
        //-     a(href='')
        //-       | Siguiente
        //-       span.rarrow
        //-         ion-icon(name='caret-forward-outline')
        .containers
          section.left Informaci&oacute;n
          section.center Imagen
          section.right Gift

//- include footer