extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      .navp.col.py-0
        include __navbar2
        .container-fluid
          .d-grid.gap-2
            
          br
          table.table.table-striped
            thead.thead-dark
              tr
                th(scope='col') #
                th(scope='col') Usuario
                th(scope='col') ID de rol
            tbody#mytable
        
  script(src='/services/admin_users.js')
