extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      script(src='routes/home.js')
      // Navbar
      .navp.col.py-0
        include __navbar2
        .container-fluid
          br
          form.form(role='form' onsubmit='return false;')
            .form-group
                span.input-group-text Tipo
                select#type.form-select
                  option(value='1') Palabra
                  option(value='2') Video
              .input-group.mb-2
                span.input-group-text Palabra
                select#sign.form-select
              .input-group.mb-2
                span.input-group-text URL de video
                input#video.form-control(type='text', placeholder='URL de imagen', aria-label='URL de imagen', aria-describedby='basic-addon1')                          
            .d-grid.gap-2
              button#post.btn.btn-primary(type='button') Guardar Item Leccion
  script(src='/services/admin_lesson_item_add.js')
