//- vista para administrar evaluaciones
extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      .navp.col.py-0
        include __navbar2
        .container-fluid
          .d-grid.gap-2
            br
            div.form-group.row
              div.input-group.mb-2.col-8
                div.input-group-prepend.ml-2
                    div(for="filtro_busqueda" class="input-group-text") Búsqueda
                input(type="text" name="filtro_busqueda" id="filtro_busqueda" class="form-control")
                button.btn.btn-dark(type='button' onclick="window.location.href='add_test/'") Agregar Evaluación          
          br
          table.table.table_wrap.table-hover
            thead.thead-dark
              tr
                th.w-50(scope='col') Test
                th.w-50(scope='col') Categoria
                th(scope='col') Dificultad
                th(scope='col') Items
                th(scope='col') Editar
                th(scope='col') Eliminar
            tbody#mytable
        
  script(src='/services/admin_test.js')