extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      .navp.col.py-0
        include __navbar2
        .container-fluid
          .d-grid.gap-2
            br
            div.form-group.row
              div.input-group.mb-2.col-8
                div.input-group-prepend.ml-2
                    div(for="filtro_busqueda" class="input-group-text") Búsqueda
                input(type="text" name="filtro_busqueda" id="filtro_busqueda" class="form-control")
                button.btn.btn-dark(type='button' onclick="addItemOnClick()") Agregar Item         
          br
          table.table.table-striped.table_wrap
            thead.thead-dark
              tr
                th(scope='col') #
                th.w-25(scope='col') Tipo
                th.w-75(scope='col') Palabra
                th.w-25(scope='col') Categoria
                th(scope='col') Eliminar
            tbody#mytable
        
  script(src='/services/admin_lesson_item.js')