extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      .navp.col.py-0
        include __navbar2
        .container-fluid
          .d-grid.gap-2
            br
            button.btn.btn-info(type='button' onclick="window.location.href='add_word/'") Agregar Palabra          
          br
          table.table.table-striped
            thead.thead-dark
              tr
                th(scope='col') #
                th(scope='col') Palabra
                th(scope='col') Descripcion
                th(scope='col') Imagen
                th(scope='col') Categoria
                //th(scope='col') Gif
                th(scope='col') Editar
                th(scope='col') Eliminar
            tbody#mytable
        
  script(src='/services/admin_senas.js')