//-extiene de layout donde estan contenidos los links de bootstrap, scripts, etc
extends __layout
block content
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  .container-fluid
    .row.flex-nowrap
      //-style sidebar
      include __sidebar
      // Navbar
      .navp.col.py-0
        //-style navbar
        include __navbar2

        // Cartas
        #obteniendo.container-fluid
        //- Aqui adentro se usa el script de abajo
        
  //- include footer
  script(src='/services/evaluation_item.js')