block content    
    footer.footer
        nav.navbar.fixed-bottom.navbar-expand-lg.navbar-light.nav-pills.nav-fill
            a.nav-link.text-light(href='ppal')
                i.icon.ion-md-home.lead.mr-25
                span.ms-1.d-none.d-sm-inline 
            a.nav-link.text-light(href='lecciones')
                i.icon.ion-md-bookmarks.mr-2.lead
                span.ms-1.d-none.d-sm-inline 
            a.nav-link.text-light(href='#')
                i.icon.ion-md-today.lead.mr-2
                span.ms-1.d-none.d-sm-inline 
            a.nav-link.text-light(href='#')
                i.icon.ion-md-stats.lead.mr-auto
                span.ms-1.d-none.d-sm-inline 
        
// Optional JavaScript; choose one of the two!
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ', crossorigin='anonymous')
// Option 2: Separate Popper and Bootstrap JS
//
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

