extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      script(src='routes/home.js')
      // Navbar
      .navp.col.py-0
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            h5.w-75.text-light  Categorias
            #navbarSupportedContent.collapse.navbar-collapse
              form.d-flex
                input#formulario.form-control.me-2.w-100(type='search', placeholder='Buscar', aria-label='Search')
                button#boton.btn(type='submit')
                  i.icon.ion-md-search.lead.text-light
        // Cartas
        #obteniendo.grid-containerpp
          //- Aqui adentro se usa el script de abajo
  //- include footer
  script(src='/services/category.js')
      