extends layout

block content
    form(action="login.html" class="form-box")
        img(class="form-title" src="images/Logo.png")
        input(type="text" placeholder="Username")
        input(type="password" placeholder="Password")
        button(type="submit") LOG IN
    