extends __layout
block content
    .container-fluid
      .row.flex-nowrap
        include __sidebar
        // Navbar
        .navp.col.py-0.w-100
          include __navbar2
          #obteniendo.grid-containerpp
    script(src='/services/lesson_list.js')