extends __layout
block content
    .container-fluid
      .row.flex-nowrap
        include __sidebar
        // Navbar
        .navp.col.py-0
          include __navbar2
          // atras/adelante
          .section-navigationl1.mdl-bottom
            span.mdl-leftl1
              a(href='/leccion/')
                span.larrowl1
                  ion-icon(name='caret-back-outline')
                |                     Atr&aacute;s
            span.mdl-rightl1
              a(href='')
                | Siguiente
                span.rarrowl1
                  ion-icon(name='caret-forward-outline')
          .lista
            ul.list-group.list-group-flush
              li.list-group-item
                iframe(width='560' height='315' src='https://www.youtube.com/embed/DL9D8JO6Fqs' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
              li.list-group-item
                .section-list
                  a(href='https://www.youtube.com/watch?v=DL9D8JO6Fqs')
                    | Video de abecedario en lenguaje de se&ntilde;as.
                    span.ico
                      ion-icon(name='videocam-outline')
              li.list-group-item
                .section-list
                  a(href='https://www.youtube.com/watch?v=DL9D8JO6Fqs')
                    | Video de abecedario en lenguaje de se&ntilde;as.
                    span.ico
                      ion-icon(name='videocam-outline')
              li.list-group-item
                .section-list
                  a(href='https://www.youtube.com/watch?v=DL9D8JO6Fqs')
                    | Video de abecedario en lenguaje de se&ntilde;as.
                    span.ico
                      ion-icon(name='videocam-outline')
              li.list-group-item
                .section-list
                  a(href='https://www.youtube.com/watch?v=DL9D8JO6Fqs')
                    | Video de abecedario en lenguaje de se&ntilde;as.
                    span.ico
                      ion-icon(name='videocam-outline')
              li.list-group-item
                .section-list
                  a(href='https://www.youtube.com/watch?v=DL9D8JO6Fqs')
                    | Video de abecedario en lenguaje de se&ntilde;as.
                    span.ico
                      ion-icon(name='videocam-outline')
      // Optional JavaScript; choose one of the two!
      // Option 1: Bootstrap Bundle with Popper
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
      // Option 2: Separate Popper and Bootstrap JS
      //
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
