<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="styles/styleL.css">
</head>
<body>

    <form action="login.html" class="form-box">
        <img class="form-title" src="images/Logo.png">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button type="submit">LOG IN</button>

    </form>
    
</body>
</html>