extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      script(src='routes/home.js')
      // Navbar
      .navp.col.py-0
        include __navbar2
        // Cartas
        h1 Categorias
          #obteniendo-search-categorias.grid-containerpp
        h1 Palabras
          #obteniendo-search-palabras.grid-containerpp
        
  script(src='/services/search_page.js')