extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      script(src='routes/home.js')
      // Navbar
      .navp.col.py-0
        include __navbar2
        // Cartas
        .container
          .row
            h1 Categorias
            .row#obteniendo-search-categorias
          .row      
            .col
              h1 Palabras
                #obteniendo-search-palabras
        
  script(src='/services/search_page.js')