extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      // Navbar
      .navp.col.py-0
        include __navbar2
        
        #obteniendo.site.container-fluid

  //- include footer
  script(src='/services/sign.js')
