extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      // Navbar
      .navp.col.py-0
        include __navbar2
        // atras/adelante
        .section-navigations.mdl-bottom
          span.mdl-leftt
            a(href='/')
              span.larroww
                ion-icon(name='caret-back-outline')
                | Atrás

          span.mdl-rightt
            a(href='')
              | Siguiente
              span.rarroww
                ion-icon(name='caret-forward-outline')
        // Cartas
        #obteniendo.grid-containerpp
        //- Aqui adentro se usa el script de abajo
        
  //- include footer
  script(src='/services/sign_list.js')