extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      // Navbar
      .navp.col.py-0
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            h5.w-75.text-light  Categor&iacute;a: Abecedario
            #navbarSupportedContent.collapse.navbar-collapse
              form.d-flex
        // atras/adelante
        .section-navigationa.mdl-bottom
          span.mdl-lefta
            a(href='categoria')
              span.larrowa
                ion-icon(name='caret-back-outline')
                | Atrás
          span.close
            a(href='')
              span.xclose
                ion-icon.iclose(name='close-circle-outline')
          span.mdl-righta
            a(href='')
              | Siguiente
              span.rarrowa
                ion-icon(name='caret-forward-outline')
        

        .containers
          section.left Informaci&oacute;n
          section.center Imagen
          section.right Gift

//- include footer