extends __layout
block content
  section.w-100.h-100
    div.container-fluid.w-100.h-100.d-flex.align-items-center.justify-content-center
      div.card.h-70.w-25.d-flex.align-items-center.justify-content-center.bglogin
        div.d-flex.flex-column.align-items-center
          img(class="img-login-small align-middle w-30 mb-3" src="../images/Logo.png", alt="")
          h4 
          div.w-90.pt-3
            form(action="/signup" method="POST" id="form_signup")
              div.form-group.mb-2
                input.form-control(type="text" id="inputUsername" name="username" placeholder="Nombre de usuario" required)
              div.form-group.mb-2
                input.form-control(type="password" name="password" id="inputPass" placeholder="Contraseña" required)
              div.form-group.mb-2
                input.form-control(type="password" name="confirm_password" id="confirmInputPass" placeholder="Confirme contraseña" required)
              div.form-group.mb-2.d-flex.align-items-center.justify-content-center.mt-4
                button.btn.btn-primary.btn-login(id="btn_signup") Registrarse
            p.footer-login
              a(href="/login") Regresar
            p.footer-login &copy; 2021 MR. DEVART 
  script(src="/sweetalert2/dist/sweetalert2.all.min.js")
  script(src='/services/confirm_pass.js')

