extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      .navp.col.py-0
        include __navbar2
        .container-fluid
          .input-group.mb-2
            span.input-group-text Palabra
            input.form-control(type='text', aria-label='Palabra')
          .input-group.mb-3
            input.form-control(type='text', placeholder='Descripcion', aria-label='descripcion', aria-describedby='basic-addon1')
          label Imagen Representativa
          .input-group.mb-3
            input#inputGroupFile01.form-control(type='file')
          label Categoria
          .input-group.mb-3
            select#inputGroupSelect02.form-select
              option(selected='') Categoria
              option(value='1') Categoria 1
              option(value='2') Categoria 2
              option(value='3') Categoria 3
          label GIF
          .input-group.mb-3
            input#inputGroupFile01.form-control(type='file')
          button.btn.btn-primary(type='submit') Submit
          br
          br
          table.table.table-striped
            thead.thead-dark
              tr
                th(scope='col') #
                th(scope='col') Palabra
                th(scope='col') Descripcion
                th(scope='col') Imagen
                th(scope='col') Categoria
                th(scope='col') Gif
            tbody
              tr
                th(scope='row') 1
                td manzana
                td Lorem ipsum, dolor sit amet consectetur
                td
                  img.d-inline-block.align-top(src='/public/images/Logo.png', width='30', height='30', alt='')
                td fruta
                td
                  img.d-inline-block.align-top(src='/public/images/Logo.png', width='30', height='30', alt='')
                td
              tr
                th(scope='row') 2
                td Fresa
                td Lorem ipsum, dolor sit amet consectetur
                td
                  img.d-inline-block.align-top(src='/public/images/Logo.png', width='30', height='30', alt='')
                td fruta
                td
                  img.d-inline-block.align-top(src='/public/images/Logo.png', width='30', height='30', alt='')
                td
              tr
                th(scope='row') 3
                td Perro
                td Lorem ipsum, dolor sit amet consectetur
                td
                  img.d-inline-block.align-top(src='/public/images/Logo.png', width='30', height='30', alt='')
                td animal
                td
                  img.d-inline-block.align-top(src='/public/images/Logo.png', width='30', height='30', alt='')
                td
