<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrador de Palabras</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="/public/images/Logo.png" width="100" height="100" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand">@LESSA</a>
  <form class="form-inline">
    <input  type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </nav>
    <div class="input-group mb-2" >
        <span class="input-group-text">Palabra</span>
        <input type="text" aria-label="Palabra" class="form-control">
        
      </div>


    <div class="input-group mb-3">
        
        <input type="text" class="form-control" placeholder="Descripcion" aria-label="descripcion" aria-describedby="basic-addon1">
      </div>

      <label>Imagen Representativa</label>

      <div class="input-group mb-3">

        <input type="file" class="form-control" id="inputGroupFile01">
      </div>
 
      <label>Categoria</label>

        <div class="input-group mb-3">
          
          <select class="form-select" id="inputGroupSelect02">
            <option selected>Categoria</option>
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
            <option value="3">Categoria 3</option>
          </select>
        </div>

        <label>GIF</label>

        <div class="input-group mb-3">
  
          <input type="file" class="form-control" id="inputGroupFile01">
        </div>
        


      <button type="submit" class="btn btn-primary">Submit</button>
      <br><br>

      <table class="table table-striped" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Palabra</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Categoria</th>
            <th scope="col">Gif</th>



          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>manzana</td>
            <td>Lorem ipsum, dolor sit amet consectetur</td>
            <td> <img src="/public/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </td>
            <td>fruta</td>
            <td><img src="/public/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Fresa</td>
            <td>Lorem ipsum, dolor sit amet consectetur</td>
            <td><img src="/public/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></td>
            <td>fruta</td>
            <td><img src="/public/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Perro</td>
            <td>Lorem ipsum, dolor sit amet consectetur</td>
            <td><img src="/public/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></td>
            <td>animal</td>
            <td><img src="/public/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      

</body>
</html>

