<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrador de Usuarios</title>
</head>
<body>

    <div class="input-group mb-3">
        <span class="input-group-text">Palabra</span>
        <input type="text" aria-label="Palabra" class="form-control">
        
      </div>


    <div class="input-group mb-3">
        
        <input type="text" class="form-control" placeholder="Descripcion" aria-label="descripcion" aria-describedby="basic-addon1">
      </div>

      <label>Imagen Representativa</label>

      <div class="input-group mb-3">

        <input type="file" class="form-control" id="inputGroupFile01">
      </div>
 
      <label>Categoria</label>

        <div class="input-group mb-3">
          
          <select class="form-select" id="inputGroupSelect02">
            <option selected>Categoria</option>
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
            <option value="3">Categoria 3</option>
          </select>
        </div>

        <label>GIF</label>

        <div class="input-group mb-3">
  
          <input type="file" class="form-control" id="inputGroupFile01">
        </div>
        




      <button type="submit" class="btn btn-primary">Submit</button>

      

</body>
</html>

