extends __layout
block content
  .container-fluid
    .row.flex-nowrap
      include __sidebar
      script(src='routes/home.js')
      // Navbar
      .navp.col.py-0
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            h5.w-75.text-light  Categorias
            #navbarSupportedContent.collapse.navbar-collapse
              form.d-flex
                input#formulario.form-control.me-2.w-100(type='search', placeholder='Buscar', aria-label='Search')
                button#boton.btn(type='submit')
                  i.icon.ion-md-search.lead.text-light
        .container-fluid
          #obteniendo.site
          br
          .input-group.mb-2
            span.input-group-text Palabra
            input.form-control(type='text', aria-label='Palabra')
          .input-group.mb-3
            input.form-control(type='text', placeholder='Descripcion', aria-label='descripcion', aria-describedby='basic-addon1')
          label Imagen Representativa
          .input-group.mb-3
            input#inputGroupFile01.form-control(type='file')
          label Categoria
          .input-group.mb-3
            select#inputGroupSelect02.form-select
              option(selected='') Categoria
              option(value='1') Categoria 1
              option(value='2') Categoria 2
              option(value='3') Categoria 3
          label GIF
          .input-group.mb-3
            input#inputGroupFile01.form-control(type='file')
          button.btn.btn-primary(type='submit') Editar 
    script(src='/services/edit_word.js')
