.body{
    background-color: #fef9e6;
}
.navbar{
    background-color: #0b1320;
}
.sidebar{
    background-color: #0b1320;
}
.navp{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fef9e6;
}

ion-icon {
    font-size: 30px;
    color: black;
}

.iclose{
    color: red;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}

.larrow{
    align-items: center;
}
.section-navigation .mdl-left {
    font-weight: 400;
    float: left;
    margin-left: 2em;
}

.section-navigation .mdl-right {
    font-weight: 400;
    float: right;
    margin-right: 2em;
}

.section-navigation .close {
    font-weight: 400;
    float: center;
    margin-right: 1em;
    padding-left: 450px;
}

.containers {
    height: 531px;
    padding: 5px;
    margin: 5px 0;
    display: grid;
    grid-template-column: repeat(3, 1fr);
    grid-template-row: repeat(3, auto);
    grid-gap: 8px;
    grid-template-areas: 
    "t . f"
    "t s s"
    "t s s";
}
.left {
    background-color: #dc4d4d;
    grid-area: f;
    text-align: center;
}
.center {
    background-color: #FD9A5C;
    grid-area: s;
    text-align: center;
}
.right {
    background-color: #e8a2af;
    grid-area: t;
    text-align: center;
}
section {
    height: auto;
    line-height: 100px;
}  
