body, html {
    height: 100%;
}

.body {
    background-color: #fef9e6;
}

.login {
    background-color: #394d5f;
}

.login-side {
    padding: 0;
    margin: 0;
    background-color: #394d5f;
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-image: url("../images/montain.jpg");
}

.logo-login {
    width: 60%;
}

.form-box {
    margin: auto;
    width: 50%;
    max-width: 400px;
    padding: 80px;
    background: #394d5f;
    text-align: center;
    border-radius: 20px;
}

.form-title {
    width: 150px;
    text-align: center;
    padding-bottom: 20px;
}

.form-box input[type="text"], .form-box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #0b1320;
    padding: 14px 14px;
    width: 70%;
    max-width: 300px;
    outline: none;
    color: #fef9e6;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #0b1320;
    padding: 14px 14px;
    width: 60%;
    max-width: 300px;
    outline: none;
    color: #fef9e6;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 75%;
    max-width: 600px;
    border-color: #fef9e6;
}

.form-box button[type="submit"] {
    border: 0;
    background: #0b1320;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0b1320;
    padding: 14px 40px;
    outline: none;
    color: #fef9e6;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}


.navbar {
    background-color: #0b1320;
}

.sidebar {
    background-color: #0b1320;
}

.navp {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fef9e6;
}
.grid-containerpp {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
    height: 557px;
}
/*abc*/
.grid-containerabc {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
    height: 520px;
}

.grid-item {
    text-align: center;
    padding-left: 30px;
    padding-top: 25px;
    justify-content: center;
    border-radius: 25px;
}

.grid-item1 {
    text-align: center;
    padding-left: 30px;
    padding-top: 0px;
    justify-content: center;
    border-radius: 25px;
}

.grid-item2 {
    text-align: center;
    padding-left: 30px;
    padding-top: 0px;
    justify-content: center;
    border-radius: 25px;
}

.grid-item3 {
    text-align: center;
    padding-left: 30px;
    padding-top: 0px;
    justify-content: center;
    border-radius: 25px;
}

h5 {
    color: black;
    padding: 10px 0;
}

.card {
    box-shadow: 0 4px 8px 0 #394d5f;
    transition: 0.3s;
    border: none;
    border-radius: 12px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #394d5f;
}

a {
    color: initial;
    text-decoration: none;
}

a:hover {
    text-decoration: initial;
}

.text-muted i {
    margin: 0 10px;
}
/*abc*/
ion-icon {
    font-size: 30px;
    color: black;
}
/*abc*/
.larroww{
    align-items: center;
}
.section-navigations .mdl-leftt {
    font-weight: 400;
    float: left;
    margin-right: 1em;
    padding-left: 25px;
    padding-right: 850px;
}
.mdl-leftt {
    text-align: left;
}  
/*a*/

.iclose{
    color: red;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}

.larrowa{
    align-items: center;
}
.section-navigationa .mdl-lefta {
    font-weight: 400;
    float: left;
    margin-left: 2em;
}

.section-navigationa .mdl-righta {
    font-weight: 400;
    float: right;
    margin-right: 2em;
}

.section-navigationa .close {
    font-weight: 400;
    float: center;
    margin-right: 1em;
    padding-left: 450px;
}

.site{
    width: 1120px;
    height: 450px;
}
.imagea{
    height: 400px;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 #394d5f;
}
.gift{
    height: 400px;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 #394d5f;
}
.texta{
    padding-top: 200px;
    padding-left: 40px;
}
@media screen and (min-width: 600px) {
	@supports (display: grid) {

		.site {
			display: grid;
			grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
			grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
            padding-top: 10px;
		}

		.main-content {
			grid-column: 2/5;
            padding-left: 30px;
		}

		.side {
			grid-column: 5/8;
            padding-left: 50px;
		}

		.twin {
			grid-column: 2/8;
            padding-top: 200px;
		}
	}
}

/*a*/
/*lecciones*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
    height: 565px;
}
/**/
/*leccion1*/
.lista {
    overflow-y: scroll;
    height: 520px;
}
.larrowl1{
    align-items: center;
}
.section-navigationl1 .mdl-leftl1 {
    font-weight: 400;
    float: left;
    margin-right: 1em;
    padding-left: 40px;
    padding-right: 855px;
}
.mdl-leftl1 {
    text-align: left;
}

.section-list .ico {
    font-weight: 400;
    float: left;
    margin-right: 1em;
}
.ico {
    text-align: left;
}
.list-group{
    padding-left: 245px;
    padding-right: 40px;
    text-align: left;
    display:inline-block;
}
/**/
/*evaluaciones*/
.accordion{
    overflow-y: scroll;
    height: 519px;
}

.link-eva .icono{
    float: left;
    padding-left: 100px;
    padding-right: 15px;
    text-align: left;
    display:inline-block;

}
.link-eva{
    height: 50px;
    padding-top: 10px;
}
.formex{
    padding-left: 50px;
    padding-right: 50px;
}
.eval {
    border: 1px solid #7DA5E0;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    }
    
.pregunta {
    color: #0b1320;
    font-size: 20px;
    padding-bottom: 10px;
}
    
.respuestas {
    color: #000000;
    padding-left: 50px;
}
.imgsena{
    height: 100px;
}
.formex{
    overflow-y: scroll;
    height: 565px;
}
.btn-enviar{
    padding-left: 25px;
}
.btn-env{
    font-size: 20px;
    border-radius: 10px;
}
/**/

@media only screen and (min-device-width: 1000px) {
    .footer {
        display: none
    }
}

@media only screen and (max-device-width: 800px) and (min-device-width: 75px) {
    [class*="col-"] {
        max-width: 100%;
        flex: 0 0 100%;
        ;
        -ms-flex: 0 0 100%;
    }
    .col-4.row.login {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        ;
        width: 100%;
    }
    .container-fluid {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .login-side {
        display: none;
    }
}


@media only screen and (max-device-width: 1000px) and (min-device-width: 75px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .sidebar {
        display: none
    }
    .grid-container {
        height: 70%;
    }
    footer {
        bottom: 0;
        position: absolute;
    }
}
/*Estadisticas*/

.est{
    overflow-y: scroll;
    height: 565px;
}
.esta{
    padding-right: 0px;
    padding-left: 0px;
}
.header{
    padding-left: 200px;
    padding-bottom: 20px;
}
.nota{
    padding-left: 250px;
}
.notas{
    padding-left: 220px;
}