.body{
    background-color: #fef9e6;
}
.navbar{
    background-color: #0b1320;
}
.sidebar{
    background-color: #0b1320;
}
.navp{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fef9e6;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
    height: 520px;
}

.grid-item {
    text-align: center;
    padding-left: 30px;
    padding-top: 25px;
    justify-content: center;
    border-radius: 25px;
}
.grid-item1 {
    text-align: center;
    padding-left: 30px;
    padding-top: 0px;
    justify-content: center;
    border-radius: 25px;
}
.grid-item2 {
    text-align: center;
    padding-left: 30px;
    padding-top: 0px;
    justify-content: center;
    border-radius: 25px;
}
.grid-item3 {
    text-align: center;
    padding-left: 30px;
    padding-top: 0px;
    justify-content: center;
    border-radius: 25px;
}

h5 {
    color:black;
    padding: 10px 0;
}

.card {
    box-shadow: 0 4px 8px 0 #394d5f;
    transition: 0.3s;
    border: none;
    border-radius: 12px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 #394d5f;
}

a {
    color: initial;
    text-decoration: none;
}
a:hover {
    text-decoration: initial;
}
.text-muted i {
    margin: 0 10px;
}

ion-icon {
    font-size: 30px;
    color: black;
}

.larrow{
    align-items: center;
}
.section-navigation .mdl-left {
    font-weight: 400;
    float: left;
    margin-right: 1em;
    padding-left: 25px;
    padding-right: 850px;
}
.mdl-left {
    text-align: left;
}
.section-navigation .mdl-left {
    font-weight: 400;
    float: left;
    margin-right: 1em;
}
.mdl-left {
    text-align: left;
}

@media only screen 
    and (min-device-width: 1000px){
    .footer{
        display:none
    }  
}
@media only screen 
    and (max-device-width: 1000px)
    and (min-device-width: 75px)
    {
        .grid-container{
            grid-template-columns: repeat(1, 1fr);

        
        }
        .sidebar{
            display:none
        }
        .grid-container {
            height: 70%;
        }
        footer{
            bottom: 0;
            position: absolute;
        }

    }